<!-- Process -->
<section class="page-section bg-secondary" id="process">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">How do we do it?</h2>
        <hr class="divider divider-light" />
        <p class="text-white-75 mb-4">Contact us today for a <a href="#contact">free consultation</a>!</p>
      </div>
      <div class="row gx-4 gx-lg-5 pb-3">
        <div class="col-lg-3 col-md-3 text-center">
          <div class="mt-5">
            <div class="mb-2"><i class="bi-chat-dots fs-1 text-primary"></i></div>
            <h3 class="text-white h4 mb-2">Free Consultation</h3>
            <p class="text-white-75 mb-0">Meet with you to understand your business and technology needs, conduct in-depth interviews and workshops to gather detailed requirements, and assess the current technology infrastructure to identify key pain points and areas for improvement.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 text-center">
          <div class="mt-5">
            <div class="mb-2"><i class="bi-map fs-1 text-primary"></i></div>
            <h3 class="text-white h4 mb-2">Planning and Solution Design</h3>
            <p class="text-white-75 mb-0">Develop a strategic plan and customized technology solutions that align with your business goals, identify necessary resources, and create a project timeline and budget for your approval.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 text-center">
          <div class="mt-5">
            <div class="mb-2"><i class="bi-cone-striped fs-1 text-primary"></i></div>
            <h3 class="text-white h4 mb-2">Implementation and Execution</h3>
            <p class="text-white-75 mb-0">Execute the implementation as a partner, or integrate directly alongside your technology team. We prefer an iterative, agile, and adaptable approach to provide maximum value and keep the work meaningful when requirements shift.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 text-center">
          <div class="mt-5">
            <div class="mb-2"><i class="bi-clipboard2-pulse fs-1 text-primary"></i></div>
            <h3 class="text-white h4 mb-2">Support and Evaluation</h3>
            <p class="text-white-75 mb-0">Offer ongoing support, maintenance and performance monitoring. Gather your feedback for continuous improvement of the solutions and looking for additional opporunities to make helpful impact in the future.</p>
          </div>
        </div>
      </div>
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-8 text-center">
          <hr class="divider divider-light" />
          <a class="btn btn-light btn-xl" href="#contact">Let's talk!</a>
        </div>
      </div>
    </div>
  </div>
</section>
